<!DOCTYPE html>
<html lang="en">
<head>
  <!-- add metadata jazz -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>

    <!-- add title and favicon -->
    <title><%= full_title(yield(:title)) %></title>
    <link rel="shortcut icon" href="http://www.cogmap.com/favicon.ico">

    <!-- add stylesheets -->
    <!-- <link rel="stylesheet" href="/assets/bootstrap.min.css"> --> <!-- bootstrap core styles -->
    <!-- <link rel="stylesheet" href="/assets/ryandeford.css"> --> <!-- ryandeford.com custom styles -->

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <!--<%= javascript_include_tag "application", "data-turbolinks-track" => true %>-->

    <%= render 'layouts/shim' %>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- this wraps up all body elements except the footer -->
<!--    <div id="wrapper"> -->
     
      <%= render 'layouts/header' %> 
      <!-- the main site content (dynamic across pages) -->
      <div id="main-content" class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
 <!--   </div> -->

    <!-- the main site footer (static for all pages) -->
    <!--
    <div id="main-footer">
      <nav>
        <span>RyanDeFord.com <span class="glyphicon glyphicon-heart-empty"></span> 2013</span>
        <ul class="list-inline">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Subscribe</a></li>
        </ul>
      </nav>
    </div>
    -->

    <!-- add javascript files -->
<!--    <script src="/assets/jquery-2.0.3.min.js"></script> --> <!-- jquery core javascript -->
<!--    <script src="/assets/bootstrap.min.js"></script> --><!-- bootstrap core javascript -->
<!--    <script src="/assets/ryandeford.js"></script> --><!-- ryandeford.com custom javascript -->
  </body>
</html>
